.fil-col{
  width: 100%
}
.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.div-button{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items:center ;

}

.login {
  padding-top: 5px;
  font-size: 12px;
  text-decoration: none;
  color: #005cbb;
  font-weight: 500;
}

.login p {

  margin: 0;
  padding: 0;
  display: inline;
}


.login:hover {
  text-decoration: underline;
}




.container {
  background-color: #d0d2db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 990px;
  border-radius: 10px;
  height: 450px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row {
  width: 100%;
  padding: 0 10px;
}
