<div class="forms">
<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="container">


    <div class="row">
      <div class="col-12">
        <mat-form-field class="fil-col">
          <mat-label>E-mail</mat-label>
          <input matInput name="email" id="email" #emailModel="ngModel" [(ngModel)]="client.email" required email>

          <mat-error *ngIf="emailModel.hasError('required')">
            O e-mail é obrigatório
          </mat-error>
          <mat-error *ngIf="emailModel.hasError('email')">
            Informe um e-mail válido
          </mat-error>
        </mat-form-field>
      </div>



      <div class="col-12">
        <mat-form-field class="fil-col">
          <mat-label>Senha</mat-label>
          <input matInput name="senha" id="senha" #senhaModel="ngModel" [(ngModel)]="client.password" required type="password">

          <mat-error *ngIf="senhaModel.hasError('required')">
            A senha é obrigatória
          </mat-error>
        </mat-form-field>
      </div>
    </div>




</form>
<div class="botao">
  <div class="row">
    <div class="col-12">
      <button mat-button type="submit" [disabled]="form.invalid">Login</button>
    </div>
  </div>
</div>
</div>
