.fil-col {
  width: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding-top: 155px;
}

.botao-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}



.cadastre-se {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -2px;
  padding-right: 15px;
  font-size: 14px;



}

.cadastre-se p {
  margin: 0;
  cursor: pointer;
  font-weight:550;
  color: #005cbb;

}

.cadastre-se  a {
  text-decoration: none;

}
