.container{
  width: 650px;
  height: 700px;

}



.plano{
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  border: 0px;
  border: none !important;
  box-shadow: none !important;
}

.button > .seta{
  height: 12px;
  font-size: 14px;
  font-weight: 300;
}

.button{

  border: none !important;
  box-shadow: none !important;
  font-weight: 500;
  background-color: white;
}

.assinaturas{
  margin-top: 20px;
  height: 150px;
  border: none !important;
  box-shadow: none !important;
  background: linear-gradient(to right, black,rgb(133, 132, 132) 140%);
  color: white;
  justify-content: center;
}

.agendamentos{
  margin-top: 20px;
  background-color: white;
  border: none !important;
  box-shadow: none !important;
  height: 400px;
  padding-bottom: 40px;


}

.button_new{
  border: none !important;
  box-shadow: none !important;
  font-weight: 500;
  background-color: white;
  margin-top: 10px;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 890px) {
  .agendamentos {
    width: 100%;
    overflow-x: auto;
  }

  .mat-table {
    width: 100%;
    min-width: 320px;
    table-layout: fixed;
  }

  .mat-header-row, .mat-row {
    display: block;
    width: 100%;
  }

  table.mat-table th, table.mat-table td {
    word-wrap: break-word;
    white-space: normal;
  }
}


.app-container {
  display: flex;
  height: 100vh;
}

app-side-bar {

  height: 100vh;
}
.status-pendente {
  color:#856404;}

  .mat-paginator {
    width: 100%;
    box-sizing: border-box;
  }

.main-content {
  background-color: #f7f9fa;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex: 1;
  padding: 20px;
  overflow-y: auto;

}


