<div class="container">
  <mat-card class="plano">
    <mat-card-header>
      <mat-card-title>Seu plano</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Você ainda não assinou um plano. Contrate e aproveite os benefícios.</p>
      <button mat-raised-button color="primary">Contrate um plano</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-20">
    <mat-card-header>
      <mat-card-title>Conheça o Clube de Assinatura Meu Chefe</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>e pegue seu cupom com vantagens</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-20">
    <mat-card-header>
      <mat-card-title>Próximos agendamentos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Você não tem nenhum agendamento marcado</p>
      <button mat-raised-button color="accent">+ Novo agendamento</button>
    </mat-card-content>
  </mat-card>
</div>
