.app-container {
  display: flex;
  height: 100vh;
}

app-side-bar {

  height: 100vh;
}

.main-content {
  background-color: #f7f9fa;
  width: 600px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
